.transactions5 {
  position: relative;
  font-weight: 600;
}
.plus-icon2 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.add-transaction2 {
  position: relative;
  font-weight: 500;
}
.plus-container,
.transactions-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.plus-container {
  border-radius: var(--br-xs);
  background-color: var(--primary-3);
  padding: var(--padding-5xs) var(--padding-xs);
  justify-content: center;
  gap: var(--gap-9xs);
  text-align: center;
  font-size: var(--button-2-medium-15p-size);
  color: var(--color-white);
}
.transactions-container {
  justify-content: flex-start;
  gap: var(--gap-749xl);
}
.frame-child212 {
  position: relative;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--primary-3);
  width: 139px;
  height: 3px;
}
.all-transactions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
  color: var(--primary-3);
}
.debit6,
.frame-child213 {
  position: relative;
  width: 57px;
}
.debit6 {
  font-weight: 500;
  display: inline-block;
}
.frame-child213 {
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--primary-3);
  height: 3px;
  display: none;
}
.debit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.credit6,
.frame-child214 {
  position: relative;
  width: 63px;
}
.credit6 {
  flex: 1;
  font-weight: 500;
  display: inline-block;
}
.frame-child214 {
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--primary-3);
  height: 3px;
  display: none;
}
.credit-container {
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent21,
.frame-parent22 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-steelblue-100);
}
.frame-parent21 {
  position: absolute;
  top: 0;
  left: 250px;
  background-color: var(--color-white);
  width: 1190px;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-21xl) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-darkslateblue-100);
  font-family: var(--text-sm-semibold);
}
